<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card class="center"
      Id="1"
      photoCover="https://private-user-images.githubusercontent.com/66649954/300453142-16f09c95-d7d7-4ed1-8877-375aadbc1470.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDg5OTYxMzUsIm5iZiI6MTcwODk5NTgzNSwicGF0aCI6Ii82NjY0OTk1NC8zMDA0NTMxNDItMTZmMDljOTUtZDdkNy00ZWQxLTg4NzctMzc1YWFkYmMxNDcwLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDAyMjclMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwMjI3VDAxMDM1NVomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPWFiMTUzMDIwMzMyNzk0ZDhmMTQ0NDgzZDYwMTQ4MDM3NTFmZjZkZDRmMDMzODRmYTFmMGE3ZmJhZjZhZDJmNTAmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.8uZ9socU4Zz9RfKgrDHDRbvNjuNxagaFUlbYLKGRBWQ"
      cardTitle="Projeto Pokedex"
      cardDescription="Usando JS, HTML e CSS"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Projeto Netflix"
      photoCover="https://user-images.githubusercontent.com/66649954/119437110-d7e33a80-bcf3-11eb-92ed-0a894931aae2.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Projeto Tic-Tac-Toe"
      photoCover="https://user-images.githubusercontent.com/66649954/165007318-7a2d283c-83e7-46ee-bf94-65fe25c9b652.png"
    >
    </app-small-card
    >
    <app-small-card
      Id="4"
      cardTitle="Projeto Dino-Game"
      photoCover="https://user-images.githubusercontent.com/66649954/166165878-f26d0cbb-1877-46ec-97c4-1b424370bc1f.png"
    >
    </app-small-card>
  </div>
</div>
